<header id="headerDiv" itemscope="" itemtype="http://schema.org/CollegeOrUniversity">
         <!--Navbar-->
           <nav class="top-nav hide-on-small-only transparent" style="-webkit-box-shadow: none !important;box-shadow: none !important;height: 71px !important;">
        <div class="nav-wrapper container navbar_header" style="">
          <ul class="left" style="height: 0px;">
            <li class="show-on-medium">
              <a id="botonucsm" href="/" itemprop="url">
                <img itemprop="image" src="/bundles/biblioteca/images/logos/logooficialucsm.png?version=v156" alt="" itemscope="" itemtype="http://schema.org/Person">
              </a>
            </li>            
          </ul>
          <ul class="right hide-on-med-and-down ">            
            <li>              
              <a href="/sitio/nosotros" class="grey-text text-darken-1">
                <i id="icon" class="fa fa-users navicon2 grey lighten-2"></i>
                Nosotros
              </a>
            </li>
            <li>
              <a href="/contacto" class="grey-text text-darken-1">
              <i id="icon" class="fa fa-envelope-o navicon2 grey lighten-2"></i>
              Contáctenos
              </a>
            </li>
            <li>
              <a href="/sitio/ayuda" class="grey-text text-darken-1">
              <i id="icon" class="fa fa-question navicon2 grey lighten-2"></i>
              Ayuda
              </a>
            </li>
            
            <!-- PROFILE -->
                                    <!-- END PROFILE -->
          </ul>
        </div>
      
	  </nav>
	  <nav class="menumobile transparent grey-text text-darken-1" role="navigation" style="font-family: 'Ubuntu Condensed', sans-serif;">
	    <div class="nav-wrapper container"> 
	      <ul class=" left hide-on-med-and-down ">
	        <li>
	          
	        </li>
	        <li>
	            <div class="fontOswald">
	              <a id="BIBLIOtitle" href="/" style="opacity: 1; font-size: 1.5em !important;" class="grey-text text-darken-1 animated fadeInRight">
	                Biblioteca Central
	              </a>
	            </div>              
	        </li>
	        
	      </ul>         
	      <a id="logo-container" href="/" class="brand-logo hide-on-med-and-up ">
	        Biblioteca UCSM
	      </a>
	      <ul class="right hide-on-med-and-down">
	        <li>
	          <a class="waves-effect waves-light" href="/"><i id="icon" class="fa fa-home grey-text text-darken-1"></i></a>          
	        </li>        
	        <li>
	          <a class="waves-effect waves-light dropdown-button grey-text text-darken-1" data-beloworigin="true" data-hover="true" data-constrainwidth="false" data-activates="dropdownTesis">Tesis<i class="material-icons right">arrow_drop_down</i></a><ul id="dropdownTesis" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 65px; left: 817.313px; display: none; opacity: 1;">
	            <li>
	              <a href="/usuario/profile">
	              Cybertesis (2008 - 2012)
	              </a>
	            </li>
	            <li>
	              <a href="http://tesis.ucsm.edu.pe/repositorio">
	                Repositorio Tesis (2013 - a actualidad)                
	              </a>
	            </li>    
	            <li class="divider"></li>        
	            <li><a href="/usuario/profile">Listar Tesis</a></li>            
	            <li><a href="/sitio/consideracionTesis">Consideración de Tesis</a></li>
	            <li>
	              <a class="modal-trigger" style="font-weight:bolder" href="#modal_turnitin">
	                <span style="color:red">turn</span>it<span style="color:red">in</span>
	                <span style="color:white" class="badge blue-grey" data-badge-caption="info"></span>
	              </a>
	              
	            </li>            
	          </ul>
	
	          
	
	        </li>
	        <li><a class="waves-effect waves-light dropdown-button grey-text text-darken-1" data-beloworigin="true" data-hover="true" data-constrainwidth="false" href="#!" data-activates="dropdownDocentes">Docentes<i class="material-icons right">arrow_drop_down</i></a><ul id="dropdownDocentes" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 65px; left: 912.281px; display: none; opacity: 1;">
	            <li><a href="http://tesis.ucsm.edu.pe/bibliografia/#no-back-button">Registro Bibliografía</a></li>
	          </ul>
	                    
	        </li>        
	        <li><a class="waves-effect waves-light dropdown-button grey-text text-darken-1" data-beloworigin="true" data-hover="true" data-constrainwidth="false" href="#!" data-activates="dropdownBibliotecas">Bibliotecas<i class="material-icons right">arrow_drop_down</i></a><ul id="dropdownBibliotecas" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 65px; left: 1032.27px; display: none; opacity: 1;">
	
	            <li><a href="/sitio/organigrama">Organigrama</a></li>
	
	            <li><a href="/sitio/bibliotecaVirtual">Biblioteca Virtual</a></li>
	            <li><a href="/sitio/bibliotecas">Bibliotecas</a></li>
	          </ul>
	                    
	        </li>                
	        <li><a class="waves-effect waves-light dropdown-button grey-text text-darken-1" data-beloworigin="true" data-hover="true" data-constrainwidth="false" href="#!" data-activates="dropdownServicios">Servicios<i class="material-icons right">arrow_drop_down</i></a><ul id="dropdownServicios" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 65px; left: 1162.14px; display: none; opacity: 1;">
	            <li><a href="/sitio/carneBiblioteca">Carné de Biblioteca</a></li>      
	            <li><a href="/sitio/constanciaBiblioteca">Constancia Biblioteca</a></li>      
	            <li><a href="/sitio/estanteriaAbierta">Estantería Abierta</a></li>            
	            <li><a href="#!">Formulario Publicacion de Tesis</a></li>            
	            <li class="divider"></li>
	            <li><a href="/adquisiciones">Últimas Adquisiciones</a></li>
	            <li><a href="/listaRevistas">Revistas</a></li>
	          </ul>
	                    
	        </li>
	      </ul>
	
	
	
	      <!------------------------- START MENU SMARTPHONE ------------------>
	      
	      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
	        <li class="light-blue lighten-1"><a style="color:white !important" href="/"><i class="material-icons">home</i> Biblioteca UCSM</a></li>
	        <li class="no-padding">
	          <ul class="collapsible collapsible-accordion">
	            <li>
	              <a class="collapsible-header">Bases de Datos Electrónicas<i class="material-icons right">arrow_drop_down</i></a>
	              <div class="collapsible-body">
	                <ul>
	                  <li><a href="/sitio/bibliotecaVirtual">Biblioteca Digital</a></li>
	                </ul>
	              </div>
	            </li>
	            <li>
	              <a class="collapsible-header">Tesis<i class="material-icons right">arrow_drop_down</i></a>
	              <div class="collapsible-body">
	                <ul>                  
	                  <li>
	                    <a href="http://tesis.ucsm.edu.pe/repositorio">
	                      Repositorio de Tesis Online
	                    </a>
	                  </li>                                        
	                  <li><a href="/sitio/consideracionTesis">Presentación de Tesis</a></li>            
	                </ul>                
	              </div>
	            </li>
	          </ul>
	        </li>
	        <li class="no-padding">
	          <ul class="collapsible collapsible-accordion">
	            <li>
	              <a class="collapsible-header" href="http://200.106.60.40/F">Catálogo</a>
	            </li>
	          </ul>
	        </li>        
	        <li class="no-padding">
	          <ul class="collapsible collapsible-accordion">
	            <li>
	              <a class="collapsible-header">Servicios<i class="material-icons right">arrow_drop_down</i></a>
	
	
	          <ul id="dropdownServicios" class="dropdown-content">
	            <li><a href="/sitio/carneBiblioteca">Carné de Biblioteca</a></li>      
	            <li><a href="/sitio/constanciaBiblioteca">Constancia Biblioteca</a></li>      
	            <li><a href="/sitio/estanteriaAbierta">Estantería Abierta</a></li>            
	            <li><a href="#!">Formulario Publicacion de Tesis</a></li>            
	            <li class="divider"></li>
	            <li><a href="/adquisiciones">Últimas Adquisiciones</a></li>
	            <li><a href="/listaRevistas">Revistas</a></li>
	          </ul> 
	
	
	
	
	              <div class="collapsible-body">
	                <ul>                  
	                  <li><a href="/sitio/carneBiblioteca">Carné de Biblioteca</a></li>                  
	                  <li><a href="/sitio/constanciaBiblioteca">Constancia Biblioteca</a></li>
	                  <li><a href="/sitio/estanteriaAbierta">Estantería Abierta</a></li>                                     
	                  <li><a href="/adquisiciones">Últimas Adquisiciones</a></li>
	                  <li><a href="/listaRevistas">Revistas</a></li>
	                </ul>
	              </div>
	            </li>
	          </ul>
	        </li>
	      </ul>   
	      
	      <!------------------------- END MENU SMARTPHONE ------------------>
	      
	      <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	
	    </div>
	
	  </nav>  
	  
	
	
	
	
	<!-- modal window -->
	           <div id="modal_turnitin" class="modal" style="z-index: 1003;">
	    <div class="modal-content">
	      <div class="row valign-wrapper">
	        <div class="col s3 valign">
	          <img src="/bundles/biblioteca/images/turnitin.png?version=v156">
	        </div>        
	        <div class="col s9">
	          <ul>
	            <li>
	              El líder mundial en la prevención del plagio y en la generación de comentarios constructivos y pertinentes          
	            </li>
	            <li>
	              Ayuda a motivar la participacion de sus estudiantes.          
	            </li>
	            <li>
	              Mejora el proceso de escritura previniendo el plagio y proporcionando comentarios constructivos y pertinentes a los estudiantes.        
	            </li>
	          </ul>
	        </div>
	      </div>    
	      
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn red">Cerrar</a>
	      <a href="http://turnitin.com/es" class=" modal-action modal-close waves-effect waves-green btn">Visitar web</a>
	    </div>
	  </div>
	<!-- modal window -->
	
	
	 <!-- JQuery -->
	
	 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	 
	<script>
	  $("#nav-mobile").one( "click", ".call_mobil", function(){
	
	
	
	    $("#ejemplo").clone().appendTo("#tesisul");
	    
	    //data-activates=""
	    //$("#ejemplo").clone().appendTo("#menu_tesis");
	    
	
	  });
	
	  $(document).ready(function(){
	    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	    $('.modal').modal();
	  });  
	</script>
	         <!--/.Navbar-->         
      </header>